puppeteer_download_host=https://npm.taobao.org/mirrors
@fui:registry=https://npm.fineres.com/
@fd:registry=https://npm.fineres.com/
registry=https://registry.npm.taobao.org
auto-install-peers=true
strict-peer-dependencies=false